/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

header h1 {
  margin: 0;
}

nav {
  margin-left: 20px;
}

nav a {
  padding-left: 10px;
  text-decoration: none;
  color: #003049;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 80%;
}

/* About section */
.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Added gap */
  flex-wrap: wrap;
  margin-top: 20px; /* Added margin */
}

.about-content .about-image {
  flex: 1;
}

.about-content .about-text {
  flex: 2;
  text-align: left;
}

.about-text h3 {
  text-align: center;
}

.background {
  text-align: left;
  margin-top: 20px;
  width: 100%; /* Ensures it spans full width */
}

/* Portfolio section */
.portfolio-content {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Reduced gap */
  flex-wrap: wrap;
}

.portfolio-content section {
  margin: 10px 0; /* Reduced margin */
  flex-basis: calc(33.33% - 10px); /* Adjusted basis to account for the gap */
}


/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

/* Images */
img {
  width: 100%;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}

